.search-item {
    list-style: none;
    margin-top: 10px;
}
.search-item img {
    margin-left: auto;
}

.track-details {
    max-width: calc(100% - 160px);
}
.collection-name, .artist-name {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
}