.App {
  text-align: center;
}
.App-logo-container {
    margin: auto;
}
.App-logo {
    height: 40px;
    pointer-events: none;
}
.App-title {
    font-size: 14px;
    margin-top: -6px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    /*background-color: #282c34;*/
    /*min-height: 100vh;*/
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
    background-color: rgba(22, 22, 23, .8);
    /*border-bottom: 5px solid #282c34;*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
